.step {
  background: #F2F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  min-height: 100%;
  padding: 30px;
  font-family: 'Assistant';
}

.stepTitle {
  font-family: 'Roboto Mono';
}

.stepTitleText {
  font-size: 26px;
  letter-spacing: 1px;
  width: max-content;
  font-weight: 900;
  margin: 0;
  border-bottom: 20px solid #CADCF5;
  line-height: 10px;
}

.listPadding {
  padding-top: 15px;
}

.linkUnderline > a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
  width: max-content;
  border-bottom: 15px solid #F7D3DF;
  line-height: 5px;
  &:hover {
    font-size: 20px;
    font-weight: bold;
  }
}

.separator {
  height: 25%;
  display: block;
  background: white
}