.mainTitle {
  margin: 60px 0px;
}

#credit {
  font-family: 'Assistant';
  text-align: center;
  padding: 10px
}

.mainTitleText {
  font-family: 'Roboto Mono', monospace;
  color: #020140;
  font-size: 30px;
  letter-spacing: 1px;
  width: max-content;
  font-weight: 900;
  margin: 0 auto;
  border-bottom: 20px solid #D0CAF5;
  line-height: 10px;
  text-align: center;
}
