.mainTitle {
  margin: 30px 0px
}

.underlineTitle {
  background: #D0CAF5;
  padding: 10px;
  width: 300px;
  height: 10px;
  margin-top: -38px;
  margin-left: 560px
}

.mainTitleText {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: #020140;
  font-size: 30px
}
